* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body{
    margin: 0;
    padding: 0;
    font-size: large;
    display: flex;
    flex-direction: column;
    background-color: #272727;
}

.nav{
    background-color: antiquewhite;
}

.page{
    display: flex;
}

.summation{
    display:flex;

}

.input_area{
    margin: 30px;
    display: grid;
    font-size: larger;
}